
tester.R

*.pper

.Rhistory

.RData

.Rproj.user/FC7DAB03/sdb/prop/1C7E499D

.Rproj.user/FC7DAB03/sdb/prop/INDEX

.Rproj.user/FC7DAB03/sdb/prop/F3391AD8

.Rproj.user/FC7DAB03/sdb/prop/1848CD8E

.Rproj.user/FC7DAB03/sdb/s-A7C251C5/1A86DF5B

.Rproj.user/FC7DAB03/sdb/s-A7C251C5/E537A044

.Rproj.user/FC7DAB03/sdb/s-A7C251C5/A4B35E1B

.Rproj.user/FC7DAB03/sdb/prop/3D39EA85

.Rproj.user/FC7DAB03/sdb/s-A7C251C5/lock_file

.Rproj.user/FC7DAB03/sdb/prop/5A2137AF

.Rproj.user/FC7DAB03/persistent-state

.Rproj.user/FC7DAB03/sdb/s-A7C251C5/218AE76C

.Rproj.user/FC7DAB03/sdb/s-A7C251C5/5C989668

*.RData

data/usa_00001.txt

*.dat

*.dcf

*.Rproj

.RDataTmp
